// .proyects-section-wrapper {


//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;

//     gap: 60px;

//     .section-title {
//         margin-bottom: 80px;
//         color: pink;
//         font-size: 80px;
//     }


// }

// .proyect-title-container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     h1{
//         font-size: 80px;
//         position: absolute;
//         transform: translate(0,250px);

//     }
//     .border{
//         color: white;  
//         text-shadow:
//           -1px -1px 0 white, 
//           1px -1px 0 white,
//           -1px 1px 0 white,
//           1px 1px 0 white;
//     }
//     .wave {
//         color: pink;
//         animation: wave 3s ease-in-out infinite;
//       }
//       @keyframes wave {
//         0%, 100% {
//           clip-path: polygon(
//             0% 47%,
//             10% 48%,
//             33% 54%,
//             54% 60%,
//             70% 61%,
//             84% 59%,
//             100% 52%,
//             100% 100%,
//             0% 100%
//           );
//         }

//         50% {
//           clip-path: polygon(0% 60%,
//           15% 65%,
//           34% 66%,
//           51% 62%,
//           67% 50%,
//           84% 45%,
//           100% 46%,
//           100% 100%,
//           0% 100%
//           );
//         }
//       }


// }

.proyects-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        margin-bottom: 4px;
    }

    p {
        font-size: 16px;
        margin-left: 8px;
    }

}

.proyects-container {
    width: 70%;
    // height: 100%;
    margin-bottom: 100px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(128, 128, 128, 0.151);
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: unset;
    transition: box-shadow ease 0.2s;



    h1 {
        color: white;
    }

    p {
        color: white;
        font-size: 24px;
    }


}

.proyects-container:hover {
    box-shadow: 5px 5px 30px 1px rgba(255, 192, 203, 0.171);
    transition: box-shadow ease 0.2s;

}

.proyects-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    width: 100%;

    img {
        height: 200px;
    }

    h1 {
        color: pink;
        font-size: 40px;
    }

    h2 {
        color: white;
        font-size: 16px;
        margin-left: 8px;
    }



}

.proyect-wrapper {
    padding: 0 48px 48px 48px;
    display: flex;
    gap: 12px;

    h1 {
        color: pink;
        font-size: 36px;
    }

    .proyect-img {
        max-height: 300px;
        z-index: 1;
        aspect-ratio: 16 / 9 !important;

    }


    a {
        z-index: 2;
        background-color: rgba(49, 49, 49, 0.212);
        height: 300px;
        min-width: calc(50% - 48px);
        position: absolute;
        left: calc(50%);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: 40px;
        font-weight: 700;

        &:hover {

            .proyect-img {

                filter: blur(3px);
                z-index: 1;

            }
        }
    }


}

@media (max-width: 860px) {
    .proyects-container {
        width: 90%;
    }

    .proyects-title-container {

        img {
            height: 100px;
        }

        h1 {
            color: pink;
            font-size: 30px;
        }

        padding-bottom: 16px;
        padding-top: 16px;

    }

    .proyect-wrapper {
        padding: 0 24px 24px 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1 {
            color: pink;
            font-size: 36px;
        }




    }

}